body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.calendar {
    background: #8989dd;
    padding: 20px;
    width: 350px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header button {
    background: #e0e0e0;
    border: none;
    padding: 6px 10px;
    cursor: pointer;
    border-radius: 6px;
}

.weekdays, .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    margin-top: 10px;
}

.weekdays div {
    font-weight: bold;
    padding: 8px 0;
}

.day {
    padding: 10px 0;
    margin: 4px;
    border-radius: 8px;
    color: grey;
}

.day.normal {
    background: #e8e8e8;
}

.day.holiday {
    background: #ffdddd;
    color: red;
    font-weight: bold;
}
.bdk{
    background-color: red;
    color: yellow;
}